.main {
  background: darken(rgb(7, 7, 66), 3%);
  padding: 16px;
  color: white;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
}

.line {
  width: 97vw;
  height: 4px;
  background-color: rgb(255, 187, 0);
}

.title {
  padding: 60px 0 0 8px;
  font-size: 36px;
  text-transform: uppercase;
  color: yellow;
}

.titleGame {
  padding: 8px 0 16px 8px;
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(255, 187, 0);
}

.gameExplanation {
  padding: 8px 0 24px 8px;
  font-size: 20px;
  color: yellow;
}

.question {  
  p {
    font-size: 24px;
  }
}

.users {
  .user1, .user2 {
    margin-left: 20px;
  }
  .userName1, .userName2 {
    margin-left: 20px;
    color: rgb(205, 217, 228);
  }
}

.user {
  font-size: 18px;
  margin-left: 20px;
}

.inputName {
  margin: 8px;
  font-size: 16px;
  width: 500px;
}

.input {
  margin: 8px;
  font-size: 16px;
  width: 500px;
}

.result {
  margin: 8px;
  font-size: 48px;
  color: rgb(255, 187, 0);
  text-transform: uppercase;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.buttonToClick {
  height: 80px;
  width: 200px;  
}

.resultText {
  margin-left: 20px;
}