.Main {
  background-image: url('https://i.postimg.cc/0js3X1Fq/pexels-murilo-papini-6215967-darker4centered.jpg');
  background-size: cover;
  height: 100vh;  
  padding: 16px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.QuestionsInline {
  display: inline-flex;
}

.Line {
  width: 97vw;
  height: 2px;
  background-color: rgb(255, 187, 0);
}

.Title {
  padding: 12px 0 0 7vw;
  font-size: 16px;
  color: white;  
}

.TitleGame {
  padding: 32px 0 32px 8px;
  text-align: center;
  font-size: 72px;
  font-weight: bold;
  color: rgb(255, 187, 0);
}

.GameExplanation {
  padding: 8px 7vw;
  font-size: 15px;
  color: rgb(255, 200, 47);
  line-height: 32px;
  text-align: justify;
}

.Users {
  margin-left: 0;
}

.UserData {
  text-align: center;
  font-size: 20px;
  margin-top: 8px;
}

.InputName {
  margin: 8px 7vw;
  height: fit-content;
  width: 34vw;
  padding: 4px;
  font-size: 16px;
  border-radius: 5px;
}

.NumberOfWallsInputs {
  margin-left: 25vw;
}

.NumberOfWallsInput {  
  width: 10vw;
  margin: 2vh 2.5vw;
  font-size: 16px;
  text-align: center;
  
}

.ThrowsAmount {
  position: relative;
}

.ThrowsAmountInput {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  margin: 32px 0;
  width: 10vw;
  font-size: 16px;
  text-align: center;
}

.Result {
  position: relative;
  margin: 8px;
}

.ButtonToClick {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  margin-top: 100px;
  border-radius: 5px;
  height: 64px;
  width: 20vw;
  font-weight: bold; 
  padding: 8px 0 8px 8px;
  font-size: 20px;
  background-color: rgb(255, 187, 0);
  text-transform: uppercase;
  color: rgb(0, 0, 65);
}

.ResultText {
  margin-top: 180px;
  font-size: 40px;
  color: rgb(255, 187, 0);
  text-align: center;
}